
	<footer style="margin-top: 20px; margin-bottom: 20px; padding-top: 20px; position: relative; bottom: 0;">
		<div class="container">
			<div class="row">
				<div class="col-8">
					<h1 class="header-style">Site Navigation</h1>
					<ul style="list-style: none; margin-bottom: 0px;">
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
						<li>	<a href="#">Submissions</a></li>
					</ul>
				</div>
				<div class="col-4">
					<h1 class="header-style">Contact Us</h1>
					<p>Email Us: <a href="mailto:support@youtube.com">placeholder@gmail.com</a></p>
					<p>Call Us: <a href="tel: +1-555-555-5555">(555) 555-5555</a></p>
					<h1 class="header-style">Social Media</h1>
						<a href="#"><i id="social-fb" class="social fab fa-facebook-square size"></i></a>
						<a href="#"><i id="social-tw" class="social fab fa-twitter-square size"></i></a>
						<a href="#"><i id="social-gp" class="social fab fa-google-plus-square size"></i></a>
						<a href="#"><i id="social-em" class="social fas fa-envelope-square size"></i></a>
				</div>
			</div>
		</div>
	</footer>


