	<footer style="background-color: #225378;">
		<div class="container">
			<div class="row">
				<div class="col-8">
					<h2 class="dark-footer header-style-two">Copyright 2018 <i class="far fa-copyright"></i> | INNER CITY GREEN</h2>
				</div>
				<div class="col-4">
				
				</div>
			</div>
		</div>
	</footer>