

<div id="nav" class = "overlay">
	<div class="overlay__content">

			<div class="container">
		 	<div class="row">
		    <div class="col-sm">
		    </div>
		    <div class="col-sm">
		      <input type="Password" name = "name" class="form-control" id="pwd" placeholder="Password" style="margin-top: 5.5em;width:100%; ">
		       <button onclick = "checkPassword()" class="btn btn-link" style="margin-top: 1em; margin-bottom: 80px; color: #e3f2fd; font-size: 25px">Enter</button>
		    </div>
		    <div class="col-sm">
		      
		    </div>
		  </div>
		</div>
		

		<a href="#"><i id="social-fb" class="social fab fa-facebook-square size"></i></a>
		<a href="#"><i id="social-tw" class="social fab fa-twitter-square size"></i></a>
		<a href="#"><i id="social-gp" class="social fab fa-google-plus-square size"></i></a>
		<a href="#"><i id="social-em" class="social fas fa-envelope-square size"></i></a>
		

		</div>
	</div>
</div>

