<!-- navbar starts -->
	<nav class="my-navbar navbar fixed-top navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
		<div class="container">
		  <a style = "color: #225378; letter-spacing: 1.5px;" id = "my" class="navbar-brand" href="#">Inner City Green</a>
		</div>
        <a class="nav-link disabled" tabindex="-1" aria-disabled="true" style="color: rgba(34,83,120,0.75)"></a>
      
	</nav>
<!-- navbar ends -->