<% include partials/header %>
<% include partials/topnav %>
<% include partials/overlay %>

<div style = "color: #e3f2fd; padding-top: 5em; padding-bottom: 5em; margin-top: 1em; margin-bottom: 1em;" class="container jumbotron">
	<h1>Hello cunt,</h1>
	<h2>Fuck off?</h2>
</div>

<div class="container" style = "color: #225378;">

	<form action = "/register" method = "POST">

		<div class = "row">

			<div id="divAdd" class="col-8 jumbotron" style="background-color: #e3f2fd">

			    <div class="form-group">
			    <label for="username">Username (Required)</label>
			    <input type="text" name = "username" class="form-control" id="username" placeholder="Enter username">
			    </div>
			  
			    <div class="form-group">
			      <label for="password">Password (Required)</label>
			      <input type="password" name = "password" class="form-control" id="password" placeholder="Enter password">
			    </div>

			    <div class="form-group">
			      <label for="name">Name (Required)</label>
			      <input type="text" name = "fullname" class="form-control" id="name" placeholder="Enter name">
			    </div>

				<div id="divAddPara">
					<!-- paragraphs go here -->
				</div>
				<div id="divAddImg">
					<!-- images go here -->
				</div>
				<div id="divAddVid">
					<!-- videos go here -->
				</div>

			</div>

			<div class = "col">

			  <div class="form-group">
			  	<label for="formSubmit">Add / Remove Items</label>
			    <div style = "background-color: #e3f2fd; color: #225378; font-size: 30px; height =" class="jumbotron" id="formSubmit">
			    	<div class="row">
			    		<div class="col-8 mouseOver"><i class="fas fa-align-left"></i></div>
			    		<div class="col-2 mouseOver"><i class="fas fa-plus-square" id="addPara"></i></div>
			    		<div class="col-2 mouseOver"><i class="fas fa-minus-square" id="minPara"></i></div>
			    	</div>
			    	<div class="row">
			    		<div class="col-8 mouseOver"><i class="far fa-images"></i></div>
			    		<div class="col-2 mouseOver"><i class="fas fa-plus-square" id="addImg"></i></div>
			    		<div class="col-2 mouseOver"><i class="fas fa-minus-square" id="minImg"></i></div>
			    	</div>
			    	<div class="row">
			    		<div class="col-8 mouseOver"><i class="fab fa-youtube"></i></div>
			    		<div class="col-2 mouseOver"><i class="fas fa-plus-square" id="addVid"></i></div>
			    		<div class="col-2 mouseOver"><i class="fas fa-minus-square" id="minVid"></i></div>
			    	</div>
			  	</div>
			  </div>

			  <button style = "margin-top: 2.35em; background-color: #225378; border-color: #fff; width: 100%;" type="submit" class="btn btn-primary">Submit</button>

			</div> 

		</div>  

	</form>
	
</div>


<div style = "color: #e3f2fd; padding-top: 5em; padding-bottom: 5em; margin-top: 1em; margin-bottom: 1em;" class="container jumbotron">
	<h1>Press submit to save to database,</h1>
	<h2>Please check all details before submiting.</h2>
</div>



<!-- scripts start -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="register.js"></script>
<!-- scripts end -->

</body>
</html>

